.navheader {
    display: flex;
    width: 100%;
    z-index: 100;
    flex-direction: column;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 2px 0px 15px #23262622;
}